// _buttons.scss


.btn-agregar{
  background-color: #4CAF50; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
} 

