body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
nav ul {
  list-style: none;
  gap: 1rem;
  flex-direction: row;
}
.ficha__imagen {
  max-width: 100%;
  height: auto;
}
.--bg-color1 {
  background-color: #adb2d4;
}
.--bg-color2 {
  background-color: #c7d9dd;
}
.--bg-color3 {
  background-color: #d5e5d5;
}
.--bg-color4 {
  background-color: #eef1da;
}
.--texto-blanco {
  color: white;
}
.--texto-negro {
  color: black;
}
.--fuente-opensans {
  font-family: "Open Sans", sans-serif;
}
